.photo1 {
	width: 50px;
}
.navbar {
	background-color: rgb(197, 153, 182);
}
body{
	width: 100% !important;
	background-color: rgb(230, 178, 186);
}
}.container{
	padding: 15px;
	border-radius: 10px;
	color: white;
	background-color: rgb(230, 178, 186);
}
.contain{
	
}
input{
	justify-content: center;
}
.footer{
	text-align: center;
	background-color: lightblue;
	bottom: 0;
	position: fixed;
	width: 100%;

}

.cen {
	text-align: center !important;
}
